*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Inter', sans-serif;
}

:root {
  --primary-color: #3a1e43;
 
}

html {
 background-color: var(--primary-color);
}

.header{
 width: 100%;
 height: 80px;
 display: flex;
 align-items: center;
 justify-content: center;
 gap: 55px;
} 

.nav-menu {
  border-radius: 2px;
  font-weight: bold;
  background-color: var(--primary-color);
  display: flex;
  padding: 20px;
  justify-content: center;
  align-items: center;
  gap: 20px;

}

.nav-menu .logo {
  font-size: 24px;
  color: white;
  justify-content: left;
  padding: 0 10px;
}

.nav-menu a {
  color: white;
  text-decoration: none;
  font-size: 17px;
}

.nav-menu a:hover {
  color: #d8a6f7;
}

.left-page {
  align-items: center;
  justify-content: center;
  padding: 20px;

}

.left-page h1 {
    font-size: 32px;
    align-items: left;
    justify-content: center;
    color: white;
}